dkms-fcdslusb-dont-redefine-uintptr_t.patch
dkms-fcdslusb-remove-DECLARE_MUTEX_LOCKED.patch
dkms-fcdslusb-remove-usb_driver_owner.patch
dkms-fcdslusb-update-INIT_WORK-changes.patch
dkms-fcdslusb-update-usb_complete_t-functions.patch
dkms-fcdslusb-use-autoconf-header.patch
fcdslusb-suse93-3.11-07.tar.bz2
